# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
*.g.dart
*.freezed.dart

# Android
android/app/google-services.json
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Database
*.db
*.db-journal

# Flutter generated
.metadata
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db
